@import "../../styles/variables.scss";

.table{
	height: calc(100vh - 16px);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	.table__top{
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 10px;
		input{
			height: 32px;
			padding: 0 8px;
			outline: none;
			border: none;
			color: $black;
			border-radius: 5px;
		}
	}
	thead{
		background: $dark;
		overflow: auto;
		height: 36px;
	}

	table, td, tr, th{
		border: none;
		text-align: left;
	}
	
	
	table{
		width: calc(100% + 8px);
		position: relative;
		left: -4px;
		table-layout: fixed;
		border-spacing: 4px 0;
	}
	
	td, th{
		height: 36px;
		white-space: nowrap;	
		overflow: hidden;
		padding: 0 10px;
		border-bottom: 1px solid $dark;
	}

	th{
		height: 36px;
	}

	tr:last-child td{
		border-bottom: none;
	}

	.table__bottom{
		display: flex;
		padding: 0 10px;
		justify-content: flex-end;
		align-items: center;
		height: 36px;
		background: $dark;
		gap: 20px;
		margin-top: auto;
		.table__pagination{
			gap: 30px;
			display: flex;
			align-items: center;
			.table__pagination-info{
				padding-bottom: 1.5px;
			}
			input{
				text-align: center;
				border: none;
				background: none;
				color: white;
				outline: none;
				width: 60px;
			}
			button{
				cursor: pointer;
				border: none;
				height: 24px;
				width: 24px;
				border-radius: 20px;
			}
			.table__pagination-pages{
				display: flex;
				align-items: center;
			}
		}
	}

	button {
		background: none;
	}
}